<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Registro de Ponto</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script src="/js/RH/buscaPonto.js"></script>
    <script src="/js/RH/excluirPonto.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #005A9C;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        .container {
            width: 80%;
            margin: 20px auto;
        }
        .filters {
            background-color: #ffffff;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .filters select, .filters input {
            padding: 8px;
            margin: 5px;
            width: 200px;
        }
        .filters button {
            padding: 10px 15px;
            background-color: #005A9C;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .filters button:hover {
            background-color: #004080;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table th, table td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        table th {
            background-color: #005A9C;
            color: white;
        }
        .btn {
            padding: 8px 12px;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            display: inline-block;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }
        .btn-danger {
            background-color: #E74C3C;
        }
        .btn-danger:hover {
            background-color: #C0392B;
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(231, 76, 60, 0.5);
        }
        .btn-primary {
            background-color: #3498DB;
        }
        .btn-primary:hover {
            background-color: #2980B9;
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(52, 152, 219, 0.5);
        }
        .btn i {
            margin-right: 2px;
        }
        .action-buttons {
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Relatório de Registro de Ponto</h1>
    </header>

    <div class="container">

        <div class="filters">
            <h3>Filtros de Pesquisa</h3>
            <label>Nome do Funcionário: </label>
            <input type="text" class="form-control" id="inputBusca">
            <label for="dataFilterPonto">Data do Ponto:</label>
            <input type="date" id="inputData">
            <button id="btnBuscar" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>

            <div class="print" style="text-align: left;margin-bottom: 10px; margin-top: 10px;" >
                <button class="btn btn-primary" style="background-color: green; margin-bottom: 5px;" id="btnExportarExcel"><i class="fas fa-file"></i> Exportar para Excel</button>
                
                <button class="btn btn-primary" style="background-color: #E74C3C;" onclick="window.print()" ><i class="fas fa-file"></i> Exportar para PDF</button>
            </div>
            <button style="background-color: #333;" onclick="window.location.href='/registro'">
                <i class="fas fa-arrow-left"></i> Voltar
            </button>
        </div>

        <h3>Relatório de Ponto</h3>
        <table id="tabelaPontos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Horário de Entrada</th>
                    <th>Horário Saída Almoço</th>
                    <th>Horário Retorno Almoço</th>
                    <th>Horário de Saída</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < ponto.length; i++) { 
                    const dataObj = new Date(ponto[i].data); 
                    const dataFormatada = dataObj.toLocaleDateString('pt-BR');
                %>
                <tr>
                    <td><%= ponto[i].id %></td>
                    <td><%= ponto[i].nome %></td>
                    <td><%= dataFormatada %></td>
                    <td><%= ponto[i].horaEntrada %></td>
                    <td><%= ponto[i].horaSaidaAlmoco %></td>
                    <td><%= ponto[i].horaRetornoAlmoco %></td>
                    <td><%= ponto[i].horaSaida %></td>
                    <td>
                        <div class="action-buttons">
                            <button data-nome="<%= ponto[i].nome %>" data-id="<%= ponto[i].id %>" type="button" class="btn btn-danger btn-exclusao">
                                <i class="fas fa-trash"></i>
                            </button>
                            <a href="/registro/ponto/atualizar/<%= ponto[i].id %>" class="btn btn-primary">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>
</html>
